@model Travel_Nest.Models.Prenotazioni

<h2>Conferma Prenotazione</h2>

<p>Sei sicuro di voler confermare la prenotazione?</p>

@using (Html.BeginForm("ConfermaPrenotazione", "Prenotazioni", FormMethod.Post))
{
    @Html.HiddenFor(model => model.IDPrenotazione)
    <input type="submit" value="Conferma" class="btn btn-primary" />
    <a href="@Url.Action("Dettagli", "Prenotazioni", new { id = Model.IDPrenotazione })" class="btn btn-default">Annulla</a>
}
