<main>
    <section id="banner" class="d-flex">
        <div class="container bg-dark opacity-75 text-center w-50 h-50 m-auto d-flex flex-column align-items-center rounded-3">
            <div class="container m-auto">
                <h1 class="mb-4 text-white">Benvenuto in Travel Nest!</h1>
                <h3 class="mb-2 text-white">Qui portai scegliere il nido per le tue prossime vacanze</h3>
                <h4 class="mb-2 text-white">Dai un occhiata alle nostre proposte e prenota subito</h4>
            </div>
        </div>
    </section>
    <section class="bg-light">
        <div class="container">
            <h5></h5>
        </div>
    </section>
</main>